{
    http_port 8080
    https_port 8443
}

{$DOMAIN}:8443 {
    encode gzip

    reverse_proxy app:8000

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "same-origin"
        X-Frame-Options "DENY"
        -Server
    }
}
